/* animation */

.introduce img {
    transition: transform 0.5s;
}

.introduce img:hover {
    transform: translateY(-20px);
}

.grid-item .image im, .register img, .sow-headline a{
    transition: transform 0.3s ease;
}
.sow-headline:hover{
    transform: scale(1.1);
}
.sow-headline:hover a{
    color: #ee154b;
}
.grid-item .image:hover img,.register img:hover{
    transform: scale(1.1);
}
