
 /* main */
 main{
    margin-top: 84px; 
 }

/* image-slide */
.image-slide {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.image-slide ul {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.image-slide li {
    min-width: 100%;
    position: relative;
}

.image-slide img {
    width: 100%; 
    display: block;
}
.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 40px; 
    font-weight: bold;
    z-index: 10;
    letter-spacing: 1px;
}

.image-content p {
    margin: 0; 
    padding: 10px; 
}


/* introduce */
.introduce{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#353535;
}   

.introduce .content, .introduce .image {
    flex: 1 1 100%; 
    margin:24px 0;
}

.textwidge{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.textwidge--method {
    gap: 40px;
}
.panel-grid{
    font-size: 15px;
    margin: 15px;
    text-wrap: nowrap;
}

.panel-grid img{
    width: 100px;
    height: 100px;
}

/* courses */
.courses{
    margin: 0 auto;
    margin-top:48px;
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, auto); 
}
.grid-container.one {
    height: 460px;
    background-color: #fbe5b4;
}
.grid-container.two {
    height: 460px;
    background-color: #d5e0a8;
}

.grid-container.three {
    height: 460px;
    background-color: #f5d0c2;
}

.grid-container.four {
    height: 460px;
    background-color: #d0eded;
}

.grid-container.five {
    height: 460px;
    background-color: #f6bfcf;
}

.grid-item{
    max-width: 1150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-item .image img {
    max-width: 460px; 
    height: 460px;
}
.grid-item .content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: center;
    line-height: 1.5em;
}
.grid-item h3{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#2B2B2B;
    margin:24px 0px;
}
.grid-item .title{
    font-size: 23px;
    position: relative;
    margin:0;
}
.grid-item .title::after{
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    border-bottom: solid 4px #f05a21;
}
.grid-item p{
    margin: 16px 0;
}
strong{
    font-weight: bold;
}

.sow-image-container--method img{
    width: 50px;
    height: 50px;
}

.sow-image-container--base-method img{
    width: 300px; 
    height: 230px;
}

.sow-headline-container{
    margin: 12px;
}
.sow-headline-container a{
    color: #1e4b75;
    font-weight: bold;
    font-size: 18px;
}
.sow-headline, .sow-sub-headline{
    margin: 12px;
}

.method__grid-detail-title{
    font-size:16px;
    font-weight:bold;
    line-height:1.2em;
    color: #f05a21;
}

.method__grid-detail-sub-title-1, .method__grid-detail-sub-title-2, .method__grid-detail-sub-title-3, .method__grid-detail-sub-title-4, .method__grid-detail-sub-title-5 {
    font-size:30px;
    font-weight:bold;
}

.method__grid-detail-sub-title-1::after, .method__grid-detail-sub-title-2::after, .method__grid-detail-sub-title-3::after, .method__grid-detail-sub-title-4::after, .method__grid-detail-sub-title-5::after {
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
}

.method__grid-detail-sub-title-1::after, .method__grid-detail-sub-title-5::after {
    border-bottom: solid 4px #62c5c3;
}

.method__grid-detail-sub-title-2::after {
    border-bottom: solid 4px #e12b61;
}

.method__grid-detail-sub-title-3::after {
    border-bottom: solid 4px #acc251;
}

.method__grid-detail-sub-title-4::after {
    border-bottom: solid 4px #f6bf43;
}

.base-method{
    padding-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #262626;
}

.base-method .title {
    color: #fff;
}

.base-method .textwidge {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}

.questions .content {
    text-align: center;
    margin-bottom: 10px;
}
.answer__content{
    line-height: 1.6em;
}
.title--black {
    color: #333;
}

.title--black span {
    color: #e12b61;
}


