/* animation */
main{
    margin-top: 84px; 
 }


/* image-slide */
.image-slide {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.image-slide__list {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.image-slide__item{
    min-width: 100%;
    position: relative;
}

.image-slide__image{
    width: 100%; 
    display: block;
}
.image-slide__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 40px; 
    font-weight: bold;
    z-index: 10;
    letter-spacing: 1px;
}

.image-slide__text {
    margin: 0; 
    padding: 10px; 
}


/* introduce */
.introduce{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#353535;
}   


.introduce .content, .introduce__image{
    flex: 1 1 100%; 
    margin:24px 0;
}

.introduce__text-widget{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.introduce__panel-grid{
    font-size: 15px;
    margin: 15px;
    text-wrap: nowrap;
}

.introduce__image {
    transition: transform 0.5s;
    width: 100px;
    height: 100px;
}

.introduce__image:hover {
    transform: translateY(-20px);
}

.introduce__headline-container{
    margin: 12px;
}
.introduce__headline-container a{
    color: #1e4b75;
    font-weight: bold;
    font-size: 18px;
}
.introduce__headline-container>*{
    margin: 12px;
}

/* courses */
.courses img{
    transition: transform 0.3s ease;
}
.courses:hover img{
    transform: scale(1.1);
}

.courses{
    margin: 0 auto;
    margin-top:48px;
}
.courses__grid {
    display: grid;
    grid-template-rows: repeat(1, auto); 
}
.courses__grid--one {
    height: 460px;
    background-color: #FFF0F1;
}
.courses__grid--two {
    height: 460px;
    background-color: #73CFE4;
}
.courses__item--one{
    max-width: 1150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.courses__item--two{
    max-width: 1150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.courses__image-file{
    max-width: 460px; 
    height: 460px;
}
.courses__content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: center;
    line-height: 1.5em;
}
.courses__name{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#2B2B2B;
    margin:24px 0px;
}
.courses__title{
    font-size: 23px;
    position: relative;
    margin:0;
}
.courses__title::after{
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    border-bottom: solid 4px #f05a21;
}
.courses__content p{
    margin: 16px 0;
}
.courses__content strong{
    font-weight: bold;
}
.btn-more{
    margin: 0px 8px;
    border-radius: 5px;
    border:none;
    padding: 0px 10px;
    width: fit-content;
} 
.btn-more a{
    font-size: 14px;
}
.btn-more a:hover{
    color: white;
}

/* english-activities */
.activities__body{
    margin: 0 auto;
    max-width: 1150px;
    align-items: center;
}
.activities .title{
    text-align: center;
    padding: 32px 0;
    border-bottom: 1px solid #D9D9D9;
}
.activities__youtube-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;   
}
