.content p {
font-size:16px;
line-height:1.5em
}

.content--trial {
    max-width: 900px;
}

main {
margin-top:84px
}

.image-slide {
position:relative;
margin:auto;
overflow:hidden
}

.image-slide ul {
display:flex;
transition:transform .5s ease-in-out
}

.image-slide li {
min-width:100%;
position:relative
}

.image-slide.top img {
width:100%;
display:block
}

.btn-slide {
display:none;
position:absolute;
top:50%;
transform:translateY(-50%);
background-color:#ee154b4d;
color:#fff;
border:none;
padding:10px;
cursor:pointer;
font-weight:800;
z-index:10
}

.image-slide:hover .btn-slide {
display:block
}

.prev {
left:10px
}

.top .next {
right:10px
}

.introduce {
display:flex;
flex-wrap:wrap;
margin:0 400px;
justify-content:center;
align-items:center;
text-align:center;
color:#353535
}

.introduce .content,.introduce .image {
flex:1 1 100%;
margin:24px 0
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, auto); 
}
.grid-container.one {
    height: 600px;
    background-color: #FFF0F1;
}
.grid-container.two {
    height: 600px;
    background-color: #73CFE4;
}

.grid-item{
    max-width: 1500px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.grid-item .image img {
    max-width: 460px; 
    height: 460px;
}
.grid-item .content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: center;
    line-height: 1.5em;
    overflow: hidden;
}
.grid-item h3{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#2B2B2B;
    margin:24px 0px;
}
.grid-item .title{
    font-size: 23px;
    position: relative;
    margin:0;
}
.grid-item .title::after{
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    border-bottom: solid 4px #f05a21;
}
.grid-item p{
    margin: 16px 0;
}

/* Block: interactive-img */
.interactive-img__container {
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.interactive__item {
    text-align: center;
    margin-top: 20px;
}
  
.interactive__item-thumbnail {
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 150px;
}
  
.interactive__item-thumbnail:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}
  
.interactive__item-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
  
.interactive__item__viewer-image {
    max-width: 500px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(255, 255, 255, 0.5);
}

.interactive__item__viewer-button {
    display:none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ee154b4d;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 999;
}

.interactive__item__viewer-button{
    display:block;
}

.interactive__item__viewer-button:hover{
  background-color: #ee154b;
}

.interactive__item__viewer-button:first-of-type {
  left: 600px;
}

.interactive__item__viewer-button:last-of-type {
  right: 600px;
}

.item__pos h2{
    font-weight: bold;
    color: #00335e;
    margin-top: 80px;
    margin-bottom: 100px;
}

.grid__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
  
.sub__link {
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    color: white;
}

.sub__link--1 {
    background-color: #3c83b8;
}

.sub__link--2 {
    background-color: #c3512f;
}

.sub__link:hover {
    background-color: #ee154b;
}