/* class wave-effect -> hiệu ứng chạy khi load trang*/
.lePopOut span {
    display: inline-block;
    animation: lePopOut 1s ease-in-out;
}

@keyframes lePopOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5); 
    }
}
.lePushReleaseFromTop span {
    display: inline-block;
    animation: lePushReleaseFromTop 1s ease-in-out;
}

@keyframes lePushReleaseFromTop {
    0%, 100% {
        transform: translateY(-100%); 
        opacity: 0; /* Mờ dần */
    }
    30% {
        transform: translateY(100px); 
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

