.logo-trial {
    width: 300px;
    height: 150px;
}

main{
    margin-top: 84px; 
 }

/* image-slide */
.image-slide {
    position: relative;
    margin: auto;
    overflow: hidden;
}

.image-slide ul {
    display: flex;
    transition: transform 0.5s ease-in-out; 
}

.image-slide li {
    min-width: 100%;
    position: relative;
}

.image-slide img {
    width: 100%; 
    display: block;
}
.image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    font-size: 40px; 
    font-weight: bold;
    z-index: 10;
    letter-spacing: 1px;
}

.image-content p {
    margin: 0; 
    padding: 10px; 
}


/* introduce */
.introduce{
    display: flex;
    flex-wrap: wrap;
    margin: 24px 350px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#353535;
}   

.introduce .content, .introduce .image {
    flex: 1 1 100%; 
    margin:24px 0;
}

.textwidge{
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.panel-grid{
    font-size: 15px;
    margin: 15px;
    text-wrap: nowrap;
}

.panel-grid img{
    width: 100px;
    height: 100px;
}
.sow-headline-container{
    margin: 12px;
}
.sow-headline-container a{
    color: #1e4b75;
    font-weight: bold;
    font-size: 18px;
}
.sow-headline, .sow-sub-headline{
    margin: 12px;
}
/* courses */
.courses{
    margin: 0 auto;
    margin-top:48px;
}

.one img{
    transition: transform 0.3s ease;
}

.two img{
    transition: transform 0.3s ease;
}
.one:hover img{
    transform: scale(1.1);
}

.two:hover img{
    transform: scale(1.1);
}

.grid-container {
    display: grid;
    grid-template-rows: repeat(1, auto); 
}
.grid-container.one {
    height: 460px;
    background-color: #FFF0F1;
}
.grid-container.two {
    height: 460px;
    background-color: #73CFE4;
}
.grid-item.one{
    max-width: 1150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.grid-item.two{
    max-width: 1150px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.grid-item .image img {
    max-width: 460px; 
    height: 460px;
}
.grid-item .content{
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: left;
    justify-content: center;
    line-height: 1.5em;
}
.grid-item h3{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color:#2B2B2B;
    margin:24px 0px;
}
.grid-item .title{
    font-size: 23px;
    position: relative;
    margin:0;
}
.grid-item .title::after{
    content: '';
    width: 80px;
    display: block;
    margin-top: 5px;
    margin-left: 2px;
    border-bottom: solid 4px #f05a21;
}
.grid-item p{
    margin: 16px 0;
}
strong{
    font-weight: bold;
}
.btn-more{
    margin: 0px 8px;
    border-radius: 5px;
    border:none;
    padding: 0px 10px;
    width: fit-content;
} .btn-more a{
    font-size: 14px;
}
.btn-more a:hover{
    color: white;
}

/* english-activities */
.English-activities .body{
    margin: 0 auto;
    max-width: 1150px;
    align-items: center;
}
.English-activities .title{
    text-align: center;
    padding: 32px 0;
    border-bottom: 1px solid #D9D9D9;
}
.youtube-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;   
}
/* đăng ký */
.register .body {
    align-items: center;
    padding:16px 0;
    margin: 32px 0;
}
.register-form {
    border-radius: 5px;
    margin: 0 auto;
    background-color: #58D2DD;
    max-width: 1150px;
}

.form{
    padding:24px;
    height: 660px;
    overflow-y: auto;
}
.kids-and-us {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
}
.kids-and-us img {
    width: 25%;
}

.form .kids-and-us-enrollment{
    text-align: center;
    font-weight: bold;
    color: #33475B;
    font-size: 20px;
    margin:8px;
    margin-bottom: 0px;
}
.form .grid-container{
    display: block; 
    row-gap: 30px;
    margin-top:0px;
    margin-bottom: 24px;
}
.form .grid-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #58D2DD;
    flex-direction: column;
    column-gap: 32px;
}
.form .grid-item > *{
    margin: 24px 10px;
    margin-bottom: 10px;
}
sup{
    color: red;
}
.label {
    color: #003369;
    font-size: 14px;
    margin-bottom:8px;
}

.example {
    display: block;
    margin-bottom: 5px;
    font-size: 11px;
    color:#7C98B6
}

input[type="text"],
input[type="tel"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    border: 0.5px solid rgba(174, 164, 164, 0.5);
    background-color: #F5F8FA;
    border-radius: 15px;
    font-size: 16px;
}
input{
    color: #353535;
}
input::placeholder{
    color:#bfbfbf;
}
select{
    color: #bfbfbf;
}
input:focus,select:focus {
    border: 1px solid #95a4fc;
    outline: none;
}
.error-message {
    display: none;
    color: #f2545b;
    font-size: 14px;
}

.privacy-policy {
    font-size: 11px;
    font-weight: 400;
    text-align: left;
    line-height: 1.2em;
    margin: 0px 20px;
    margin-bottom: 36px;
}

.register-agreement,
.privacy-policy-link,
.terms-of-use-link {
    color: #33475b;
    font-size: 11px;
}
.privacy-policy-link,
.terms-of-use-link{
    text-decoration: underline;
}
.submit{
    text-align: center;
}
.btn-submit{
    margin: 10px 2px;
    border-radius: 15px;
    background-color: #F12C3E;
    color: white;
    font-weight:bolder;
    font-size: 13px;
}

/* footer */
footer{
    margin-top: 32px;
}
footer .body{
    background-color: #485052;
}
footer .body .grid-container{
    padding: 32px 0;
    margin: 0 auto;
    max-width: 1150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;
    background-color: #485052;
    color: white;
    font-weight: 300;
}

footer .body .grid-item{
    display: inline-block;
    background-color: #485052;
}

.widget-title{
    margin: 8px auto 24px auto;
    font-size: 15px;
    font-weight: 500;
}

.footer-links >*,.foot-contact-link>*{
    margin: 8px 0;
    line-height: 1.2em;
}
.footer-links a{
    color: rgba(255, 255, 252, 0.79);
}
.footer-links a:hover{
    color: white;
}
.footer-links a{
    display: inline-flex;
    align-items: center;
}
.footer-links a::before{
    content:url("images/arrow-footer.png");
    transform:scale(0.6);
    transform-origin: center;
}
.foot-contact-link >*{
    display: inline-flex;
    align-items: top;
}
.fa-envelope::before{
    content:url("images/fa-envelope.png");
}
.fa-phone::before{
    content:url("images/fa-phone.png");

}
.fa-phone::before, .fa-envelope::before,.fa-map-marker::before{
    transform:scale(0.5);
    transform-origin: top;
    margin-top: 4px;
}
.fa-map-marker::before{
    content:url("images/fa-map-marker.png");
    margin-top: 2px;
}
.footer-social .social-icons {
    display: flex;
    gap: 10px;
    list-style: none; 
    padding: 0;
    margin: 0;
}

.footer-social .social-icons li {
    display: flex;
}

.footer-social .social-icons a img {
    width: 32px;
    height: 32px;
}
.info{
    background-color: #EE154B;
    color: white;
    font-weight: 300;
    font-size: 14px;
    height: 42px;
    display: flex;
    align-items: center;

}
.copyright{
    max-width: 1150px;
    width: 120%;
    margin: 0 auto;
}

.trial-container {
    background: linear-gradient(90deg, #a8e6cf, #dcedc1, #ffd3b6);
    text-align: center;
    padding-bottom: 50px;
}

.trial-container--text {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.5em;
}

.trial-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    height: 20vw;
    margin-left: auto;
    margin-right: auto;
}

.trial-content img{
    overflow: hidden;
    width: 20vw;
    height: 20vw;
}

.trial-text {
    padding: 20px;
    flex: 1;
    text-align: left;
}

.trial-title, .trial-sub-title, .trial-description, .trial-link {
    margin:20px 20px 20px 150px;
    font-size:12px;
    font-weight:300;
}

.trial-title {
    font-size:50px;
    font-weight:bold;
    line-height:1.2em;
}

.trial-link{
    font-size:20px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #bff7dc;
    color: var(--text-color);
    border: solid 3px white;
    border-radius: 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.trial-link:hover {
    background-color: #ee154b;
    color: var(--white-color);
    border-color: #e63946;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.description--trial {
    max-width: 600px;
}

.trial__grid {
    text-align: center;
}

.trial__image {
    width: 200px;
    margin-bottom: 50px;
}

.trial__grid-detail-title, .trial__grid-detail-sub-title, .trial__grid-detail-sub-title, .trial__grid-detail-content, .trial__grid-detail-link {
    margin:20px 20px 20px 150px;
    font-size:12px;
    font-weight:300;
}

.trial__grid-detail-title {
    font-size:50px;
    font-weight:bold;
    line-height:1.2em;
}

.trial__grid-detail-sub-title {
    font-size:20px;
    font-weight:bold;
}

.trial__grid-detail-sub-title::after {
    content: '';
    margin-left: auto;
    margin-right: auto;
    width: 140px;
    display: block;
    border-bottom: solid 4px #f05a21;
}

.trial__grid-detail-link{
    font-size:20px;
    display: inline-block;
    padding: 10px 10px;
    background-color: #bff7dc;
    color: var(--text-color);
    border: solid 3px white;
    border-radius: 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.trial__grid-detail-link:hover{
    background-color: var(--hover-color);
    color: var(--white-color);
    border-color: #e63946;
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card__image{
    overflow: hidden;
    width: 400px;
    height: 400px;
}

.card__text {
    padding: 20px;
    flex: 1;
    text-align: left;
}

.page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    line-height: 1.5em;
}

.page--pink {
    background-color: #fef4fd;
}

.page--red {
    background-color: #e12b61;
}

.page--gradient1 {
    background: linear-gradient(90deg, #a8e6cf, #dcedc1, #ffd3b6);
}

.page--gradient2 {
    background: linear-gradient(90deg, #fbbbbb, #fcd07f);
}

.page__content {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page--black {
    background-color: #262626;
    margin-bottom: 50px;
}

.page__description--trial {
    max-width: 600px;
}

.page__description--pink {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    max-width: 700px;
}

.page__title {
    font-size:32px;
    letter-spacing:.5px;
    font-weight: bold;
    color: #ee154b;
}

.page__title--white {
    color: #fff;
    margin-bottom: 50px;
}

.page__title--black {
    color: #333;
}

.page__title--black span{
    color: #ee154b;
}

.page__grid{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.page__description {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #333;
}

.base__title {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size:15px;
    letter-spacing:.5px;
    font-weight: bold;
    color: #75c6c3;
}

.base__title span {
    font-size: 50px;
    color: #ee154b;
    vertical-align: middle;
}

.base__sub-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #00335e;
}

.base__block {
    display: flex;
    flex-direction: column;
}

.base__block--1 {
    background-color: #FFF0F1;
}

.base__block--2 {
    background-color: #73CFE4;
}






