/*Pre popup*/
.prePopup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    padding: 8px 10px;
    border-radius: 20px;
    color: #333;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    transition: opacity 2s ease-in-out;
}

.prePopup__content {
    padding: 10px;
    border-radius: 8px;
    max-width: 300px; 
    font-weight: bold;
    line-height: 1.6em;
}

.prePopup__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* chat form */
.helpButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
    background-color: #fe699f;
    color: #fff;
    border: none;
    border-radius: 10000px;
    cursor: pointer;
}

.helpButton__icon {
    width: 30px;
}

.helpButton:hover {
    background-color: #ee154b;
    color: var(--text-color);
}

.popup__heading{
    padding: 10px 10px;
    background-color: #fe699f;
    border-radius: 10px;
    color: #fff;
    line-height: 1.5em;
}
.popup__heading-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}
.popup__heading-image img{
    width: 50px;
}
.popup__close {
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.popup__heading-title {
    margin: 10px 0;
    color: white;
    font-weight: 500;
    z-index: 10;
    font-size: 25px;
    position: relative;
}
.popup__heading-content{
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 16px;
}

.popup__close:hover{
    color: #ee154b;
}

.popup {
    position: fixed;
    bottom: 80px;
    right: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 350px;
    background-color: #fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.popup__form {
    width: 300px;
    padding: 20px;
    margin-top: -20px;
    background-color: rgba(255, 255, 255, 0.95); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    float: left; 
    margin-left: calc(50% - 150px); 
    z-index: 1001;
    max-height: 350px;
    overflow-y: scroll;
}

.popup__form-field {
    display: flex;
    flex-direction: column;
}

.popup__form-label {
    margin-bottom: 5px;
    color: #333;
}

.popup__form-label sup {
    color: red;
}

.popup__form-input,
.popup__form-textarea {
    border: 1px solid gainsboro;
    background-color:gainsboro;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease-in-out;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
}

.popup__form-error {
    color: #f2545b;
    font-size: 14px;
}

.popup__form-input:focus,
.popup__form-textarea:focus {
    border-color: #fe699f;
}

.popup__form-textarea {
    resize: none;
    min-height: 50px;
}

.popup__form-submit {
    width: 100%;
    align-self: center;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fe699f;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.popup__form-submit:hover {
    background-color: #ee154b;
    color: #333;
}
.popup__form-submit img{
    width: 20px;
    margin:  0 10px;
}
